<div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form method="post" action="../controller/loginController.php">
            <div class="justify-content-center">
                <!-- Simple link -->
                Already Have an Account? <a href="register.php">Register</a>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="loginName">Email</label>
                <input type="email" id="loginName" class="form-control" required placeholder="Email"/>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="loginPassword">Password</label>
                <input type="password" id="loginPassword" class="form-control" required placeholder="Password"/>
            </div>

            <!-- 3 column grid layout -->
            <div class="row mb-4">
                <div class="col-md-6 d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-3 mb-md-0">
                        <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                        <label class="form-check-label" for="loginCheck"> Remember me </label>
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <!-- Simple link -->
                    <a href="changePassword.php">Forgot password?</a>
                </div>


            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 justify-content-center">Sign in</button>
        </form>
    </div>
</div>